.rewFoot{
	position: absolute;right: 10px;bottom: 10px;color: red;font-weight: bold;
}

.saveBtn{
	position: absolute;right: 15px;
}

tbody {
	font-size: 13px;
	font-family: Helvetica, Georgia, Arial, sans-serif, ו;
	line-height:20px;
	color: #555;
}
thead {
	font-size: 13px;
	font-family: Helvetica, Georgia, Arial, sans-serif, ו;
	line-height:20px;
	color: #555;
}